In [1]:
import numpy as np 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [3]:
my_data = pd.read_csv("C:/Users/User/Desktop/heart.csv")
my_data

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [8]:
my_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [4]:
my_data.shape

(303, 14)

In [6]:
X = my_data[['age', 'sex', 'cp', 'chol', 'fbs','restecg','exng','oldpeak','slp','caa','thall']].values
X[0:5]

array([[ 63. ,   1. ,   3. , 233. ,   1. ,   0. ,   0. ,   2.3,   0. ,
          0. ,   1. ],
       [ 37. ,   1. ,   2. , 250. ,   0. ,   1. ,   0. ,   3.5,   0. ,
          0. ,   2. ],
       [ 41. ,   0. ,   1. , 204. ,   0. ,   0. ,   0. ,   1.4,   2. ,
          0. ,   2. ],
       [ 56. ,   1. ,   1. , 236. ,   0. ,   1. ,   0. ,   0.8,   2. ,
          0. ,   2. ],
       [ 57. ,   0. ,   0. , 354. ,   0. ,   1. ,   1. ,   0.6,   2. ,
          0. ,   2. ]])

In [7]:
y = my_data["output"]
y[0:5]

0    1
1    1
2    1
3    1
4    1
Name: output, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_trainset, X_testset, y_trainset, y_testset = train_test_split(X, y, test_size=0.3, random_state=3)

In [11]:
outputTree = DecisionTreeClassifier(criterion="entropy", max_depth = 4)
outputTree

DecisionTreeClassifier(criterion='entropy', max_depth=4)

In [12]:
outputTree.fit(X_trainset,y_trainset)

DecisionTreeClassifier(criterion='entropy', max_depth=4)

In [13]:
predTree = outputTree.predict(X_testset)

In [18]:
print (predTree [0:5])
print (y_testset [0:5])

[1 1 1 1 1]
245    0
162    1
10     1
161    1
73     1
Name: output, dtype: int64

In [19]:
from sklearn import metrics
import matplotlib.pyplot as plt
print("DecisionTrees's Accuracy: ", metrics.accuracy_score(y_testset, predTree))

DecisionTrees's Accuracy:  0.7912087912087912